﻿div.bodyCol {
  top:130px;
}
div.bodyCol p.copyright {
    font-weight:normal;
}
.nowrap {
  white-space:nowrap;
}

h1 + table caption, h2 + table caption, h3 + table caption {
  margin-top:10px;
}
table + h1, table + h2, table + h3 {
  margin-top:20px;
}

a.audible {
  font-weight:bold;
/*  display:inline; */
  display:none;
  width:22px;
  height:36px;
  text-decoration:none;
/*  background:url("/images/icon-audio-speaker-stack.png") no-repeat; */
  background-position:0 -36px;
  padding:3px 3px 0px 20px;
  cursor:pointer;
}
a.audible:hover {
  background-position:0 -19px;
}
a.audible:active {
  background-position:0 -2px;
}

ol {
  counter-reset:item;
}
li.exercise {
  font-family:Verdana,Arial,Helvetica,sans-serif;
  display:block;
}
li.exercise:before {
/*  content:"Exercise 0-" counters(item, ".") " "; Include style item on calling page to set list header */
  counter-increment:item;
  font-weight:bold;
}

div.TOC {
  margin:0px 0px 10px 10px;
  width:50%;
  float:right;
  background-color:#d3d6c2;
  border:solid 1px #000000;
}
div.TOC p.subhead, div.TOC h1 {
  margin:4px;
  margin-top:0px;
  text-align:center;
}
div.TOC p {
  margin:4px;
}
div.TOC div#heading {
  background-color:#787e54;
  color:#ffffff;
}
table tr {
  vertical-align:top;
}
caption {
  font-weight:bold;
}
th {
  text-align:left;
}

table + p {
  margin-top:16px;
}
table.shaded {
  width:100%;
  background-color:#eeeeee;
  border-top:solid 1px #000000;
  border-bottom:solid 1px #000000;
  vertical-align:top;
  margin-bottom:10px;
}
table.shaded p.code {
  font-size:12px;
}
table.shaded tt {
  white-space:nowrap;
}
table.shaded#rightAligned p {
  text-align:right;
  margin-right:6px;
}
table.shaded p, table.shaded th p, table.shaded tt {
  margin-left:6px;
  margin-right:4px;
}
table.shaded p, table.shaded th p, table.shaded tt {
  padding:0px;
}
table.shaded tr td:first-child, table.shaded tr th:first-child, table.stackOps tr td:first-child, table.stackOps tr th:first-child {
  text-align:right;
}
span.output {
  background-color:#d3d6c2;
  font-family:"Courier New",Courier,monospace;
  font-size:1.1em;
  padding:0px 3px 0px 10px;
}
table.stackOps {
  width:40%;
  border:solid 1px #000000;
}
table.stackOps th {
  background-color:#d3d6c2;
}
table.stackOps th p {
  font-weight:bold;
  margin:4px 4px 2px 20px;
}
table.stackOps td {
  border-bottom:1px dotted #d3d6c2;
}
table.stackOps td p {
  margin:4px 4px 4px 20px;
}
table.stackOps p.code {
  font-size:12px;
}
table.stackOps#literalOldNew p {
  text-align:center;
}
.floatLeft {
  float:left;
  margin:10px 10px 10px 0px;
}
.floatRight {
  float:right;
  margin:10px 0px 10px 10px;
}
p.stack {
  font-family:"Courier New",Courier,monospace;
  white-space:nowrap;
}
div#news h1 + h2 {
  margin-top:0px;
}
img.alertLink:hover {
  cursor:help;
}
table.centeredCols p {
  text-align:center;
  margin:0px;
}
table.centeredCols#charCodes td {
  border-right:solid 1px #aaaaaa;
}
table.centeredCols#charCodes td p {
  font-family:"Courier New",Courier,monospace;
}
span.divider {
  width:20%;
  padding:0px 10px 0px 10px;
  border:solid 1px #777777;
  text-align:center;
  background-color:#00ee00;
}
p.inlineRowCell span, table.arrayGrid td, table.arrayGrid th {
  font-weight:bold;
  padding:6px;
  background-color:#eeff66;
  border:solid 1px #77ffff;
}
table.arrayGrid td p, table.arrayGrid th p {
  margin:0px;
}
table.arrayGrid td p {
  font-weight:normal;
}
div.inlineColumn {
  width:200px;
  float:left;
  margin-right:10px;
}
p.inlineColumnCell {
  margin:0px;
  font-weight:bold;
  padding:6px;
  background-color:#eeff66;
  border:solid 1px #77ffff;
  text-align:center;
}
table.arrayGrid td.invisible {
  border:none;
  background-color:transparent;
}
