/*
div.productPane img, div.productPane img.pngClass {
  display:none;
  visibility:hidden;
}
*/
div#menubar, div#search, div.storeLink, div.nonprinting {
  display:none;
}
div#sidebar, div.toc, p.miniNav {
    display:none;
}
div.bodyCol, div#homeLogo {
    left:0px;
}
div#homeLogo {
    top:0px;
}
div.bodyCol {
    position:relative;
    top:100px;
}
.printonly {
    display:block;
}
.nonprinting {
    display:none;
}
a {
    border:none;
}
