body {
  font-family:Verdana,Arial,Helvetica,sans-serif;
  margin:0px;
  font-size:11px;
}
a {
  color:#660000;
  text-decoration:none;
  border-bottom:dotted 1px #ffaaaa;
}
a.discreet, div#sidebar a.discreet {
  color:inherit;
  background-color:inherit;
  border-color:#cccccc;
}
a:hover {
  color:#cc0000;
  border-bottom:solid 1px #cc0000;
  background-color:#ffffff;
}
a.discreet:hover, div#sidebar a.discreet:hover {
  border:none;
  color:inherit;
  background-color:inherit;
}
a.img, div#homeLogo a {
    border-bottom:none;
}
a.img:active {
    background-color:none;
}

ul, dl, ol {
  line-height:14px;
}
ul, dl {
  list-style-type:square;
}
li {
  margin-top:6px;
}
li ul, ul {
    padding-left:0em;
    position:relative;
    left:2em;
}
ol {
  counter-reset:item;
}
li.exercise {
  font-family:Verdana,Arial,Helvetica,sans-serif;
  display:block;
}
li.exercise:before {
/*  content:"Exercise 0-" counters(item, ".") " "; Include style item on calling page to set list header */
  counter-increment:item;
  font-weight:bold;
}

dl {
  margin-top:0px;
}
dt {
  margin-top:10px;
  font-weight:bold;
}
dd {
  margin-top:0px;
  margin-left:0px;
}
h1 {
  font-size:24px;
  margin-left:0px;
  margin-bottom:8px;
}
h2 {
  font-size:14px;
  margin-bottom:8px;
}
h3 {
  font-size:14px;
  margin-bottom:8px;
}
h3.runningHeader {
    color:#cccccc;
}
h4 {
  font-size:12px;
  margin-bottom:8px;
}
h5 {
  font-size:12px;
  font-weight:normal;
  margin-bottom:8px;
}
h3 + h2, h2 + h3, h3 + h4, h4 + h5 {
  margin-top:0px;
}
h1 + table caption, h2 + table caption, h3 + table caption {
  margin-top:10px;
}
table + h1, table + h2, table + h3 {
  margin-top:20px;
}
table tr {
  vertical-align:top;
}
th {
  text-align:left;
}
table + p {
  margin-top:16px;
}
table.embeddedData td.rowLabel, div.product {
  background-color:#eeefdf; /* was green: ccffcc */
}
table.embeddedData td.th1 {
  background-color:#000000;
}
table.embeddedData tr.swiftxProduct td.th2 {
    background-color:#dfebef; /* was green: 99cc99 */
    border-top:solid 1px #000000;
    padding-top:10px;
}
/* table.embeddedData tr.swiftxProduct td.th2:first-child {
    border-top:solid 2px #000000;
} */
table.embeddedData td.th2 {
    background-color:#dfebef; /* was green: 99cc99 */
    border-top:solid 1px #ffffff;
}
table.embeddedData td.th3 {
   background-color:#99cc99;
}
table.embeddedData td {
    border-top:solid 1px #dddddd;
}
table.embeddedData tr:first-child td {
    border-top:none;
}

table.embeddedData p {
  font-size:11px;
  text-align:right;
  margin:6px;
  margin-bottom:2px;
  margin-top:4px;
}
table.embeddedData h1 {
  margin:6px;
  margin-bottom:2px;
  margin-top:4px;
}
table.embeddedData p.columnLabel1 {
  font-weight:bold;
  text-align:right;
  color:#ffffff;
}
table.embeddedData p.columnLabel2 {
  text-align:right;
}
table.embeddedData p.rowLabel {
  font-weight:bold;
  text-align:right;
  margin-right:10px;
}

input, select, textarea {
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:11px;
  font-weight:bold;
}
p.label {
  text-align:right;
  color:#777777;
}
p.errorStyle {
  text-align:right;
  font-weight:bold;
  color:#990000;
}
td.labelCell {
   background-color:#eeefdf;
   width:120px;
}

caption, p {
  margin-top:0px;
  margin-bottom:10px;
  margin-left:0px;
  font-size:11px;
  line-height:16px;
}
caption {
  font-weight:bold;
  margin-bottom:3px;
}
p.subhead {
  font-weight:bold;
  margin-bottom:0px;
}
p.subhead + ul, p.subhead + p {
  margin-top:0px;
}
p.quote {
  margin:10px 30px 10px 20px;
  line-height:14px;
}
p.caption, p.footnote {
  font-family:Helvetica,Arial,sans-serif;
  font-size:10px;
  line-height:12px;
  color:#555555;
  margin-top:3px;
}
p.caption a {
  color:#cc6666;
}
p.footnote + pre, p.caption + pre {
  margin-top:8px;
}
p.copyright {
  font-size:10px;
  color:#777777;
  margin-top:20px;
  font-family:Helvetica,Arial,sans-serif;
}
p.detail {
  font-size:11px;
  font-family:Helvetica,Arial,sans-serif;
}
span.code, p.code, p code, li code {
  font-family:"Courier New",Courier,monospace;
  font-weight:bold;
  font-size:1.1em;
}
img {
  border:none;
}
img + p {
  margin-top:20px;
}
p.miniNav {
  font-size:10px;
  font-weight:bold;
  margin-left:0px;
  position:relative;
  z-index:999;
}
p.miniNav a {
  color:#996666;
  background-color:#dddddd;
  padding-left:10px;
  padding-right:10px;
  border:none;
}
p.miniNav a:hover {
  color:#ffffff;
  background-color:#996666;
}
p.miniNav a.nullLink {
  color:#dddddd;
  text-decoration:none;
}
p.miniNav a.nullLink:hover {
  color:#dddddd;
  background-color:#dddddd;
}
pre, pre.tight {
  font-size:11px;
  font-weight:bolder;
  line-height:15px;
}
p.quote + pre {
  padding-left:20px;
}
p + pre {
  margin-top:-7px;
}
pre.tightest {
  letter-spacing:-.1em;
}
select, input {
  margin-top:0px;
  color:#330000;
  font-size:11px;
}
input, textarea {
  font-weight:bold;
  margin-top:4px;
  border:solid 1px #cccccc;
}

.inlineNote {
  font-size:.8em;
  font-weight:normal;
  color:#777777;
}
.barred {
    color:#ffffff;
    background-color:#660000;
    padding:4px 10px;
    clear:both;
}
/* DISPLAY DIV for PURCHASE OPTIONS */
div.product {
	background-image:url('../images/global/BG-navBanner.png');
	background-position:0px 130px;
	background-position:left bottom;
	background-repeat:repeat-x;
	border:solid 1px #bbb;
    padding:10px 20px 20px 10px;
    -moz-border-radius:4px;
    border-radius:4px;
    float:left; /* needed for fixed-width buttons */
    margin:0em 2em 2em 0em;
    text-align:left;
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
div.product h2 {
    margin-bottom:10px;
}
div.product p {
    margin:0px;
    line-height:normal;
}
div.product p.price {
    font-size:1.6em;
    line-height:1em;
    margin:6px 0px 0px 0px;
    border-top:dashed 1px #cccccc;
}
div.product p.price + p {
    margin:0px 0px 12px 0px;
}

/* BUTTON-LIKE LINKS */
a.button, .button, input.button {
    font-weight:bold;
    font-size:1.1em;
    letter-spacing:.15em;
    padding:3px 10px;
    margin:0em 2em 2em 0em;
    color:#000000;
    width:120px;
    text-shadow:1px 1px 1px #bbbbbb;
    background-color:#eeeeee;
	background-image:url('../images/global/BG-navBanner.png');
	background-position:0px bottom;
	border:solid 1px #777777;
    -moz-border-radius:4px;
    border-radius:4px;
    /* border-top-left-radius: 0px 0px;
    border-top-right-radius: 0px 0px; */
    float:left; /* needed for fixed-width buttons */
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
div.buttons a.button, .button, input.button {
    margin:0em 2em 2em 0em;
    width:120px;
    display:inline-block;
    border:solid 1px #777;
}
a.button:hover, .button:hover, input.button:hover {
    color:#ffffff;
    background-color:#cccccc;
    cursor:pointer;
    text-shadow:1px 1px 1px #333333;
}
a.button:active, .button:active, input.button:active {
	background-position:0px 35px;
	color:#ffffff;
	position:relative;
	top:1px;
	left:1px;
    text-shadow:-1px -1px 1px #555555;
}
/* END: BUTTON-LIKE LINKS */

h1 span.inlineNote {
  font-size:11px;
}
span.inlineForth {
  font-family:"Courier New",Courier,monospace;
  font-weight:bold;
}
p.stack, span.stack  {
  font-weight:normal;
  font-family:"Courier New",Courier,monospace;
  color:#555555;
}
span.inlineTM {
  font-weight:normal;
  font-size:.8em;
  color:#444444;
}

div#menubar {
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  height:24px;
  background-color:#550000;
  border-top:solid 3px #000000;
  white-space:nowrap;
  z-index:990;
}
div#menubar span.topMenu {
    margin-right:4px;
  cursor:pointer;
}
span.topMenu#Forth_menu_0:hover {
    background-color:#ffffff;
}
span.topMenu#Forth_menu_0:active {
    background-color:#cccccc;
}

div#searchWrapper {
    position:absolute;
    top:5px;
    left:6px;
}
img#submitSiteSearchButton {
    margin-left:4px;
    width:16px;
    height:15px;
    background-image:url('../images/global/magnify-search.png');
    background-repeat:no-repeat;
    cursor:pointer;
}
img#submitSiteSearchButton:hover {
    background-image:url('../images/global/magnify-search-hover.png');
}
img#submitSiteSearchButton:active {
    background-image:url('../images/global/magnify-search-active.png');
}

p#menu {
  color:#ffffff;
  font-weight:bold;
  font-size:11px;
  margin-top:4px;
  margin-right:40px;
  margin-left:240px;
  margin-bottom:0px;
  padding-top:2px;
  padding-bottom:2px;
  white-space:nowrap;
  letter-spacing:.08em;
}
p#menu a {
  color:#ffffff;
  text-decoration:none;
  border:none;
}
p#menu a:hover {
  color:#cc0000;
}

div.menu1 {
  position:fixed;
  top:23px;
  z-index:911;
  padding:0px;
  border:solid 1px #000000;
  border-top:solid 1px #cccccc;
  background-image:url("../images/home/chip-menu-bg-ccc85pct.png");
  display:none;
  cursor:pointer;
}
div.menu1 p {
  margin:0px;
  padding-top:5px;
  padding-left:6px;
  padding-right:8px;
  padding-bottom:2px;
  font-size:11px;
  line-height:14px;
  font-weight:bold;
  width:100%;
}
div.menu1 div {
  border-bottom:solid 1px #ffffff;
  _width:180px;
}
div.menupane:hover {
  color:#990000;
  background-color:#ffffff;
}
div.menupane:active {
  color:#ffffff;
  background-color:#000000;
}

div#homeLogo {
  position:absolute;
  left:240px;
  top:40px;
  z-index:900;
  width:55%;
  pointer-events:none;
}
div#homeLogo h1 {
  font-size:11px;
  font-weight:bold;
  margin-top:0px;
  white-space:nowrap;
}

div.bodyCol {
  position:absolute;
  top:150px;
  left:240px;
  min-width:610px;
  padding-right:5%;
  padding-bottom:20px;
  z-index:300;
}
div.bodyCol h1 {
  font-size:20px;
}
div.bodyCol h1:first-child {
  margin-bottom:20px;
}
h1 + h2, h1 + p, h2 + p {
    margin-top:0px;
}
div.productPane {
  padding:10px;
  min-width:55%;
  min-height:80px;
  border:solid 1px #cccccc;
  background-color:#eeefdf;
  clear:both;
  margin-bottom:20px;
}
div.productPane h1 {
  margin-top:9px;
  margin-left:0px;
  font-size:18px;
}
div.productPane p {
  margin-top:6px;
  margin-left:0px;
  margin-bottom:0px;
  font-size:12px;
}
div.productPane a:active, div.detailInset a:active, a:active {
    position:relative;
    top:1px;
    left:1px;
}
div.tocStatic {
    position:relative;
    top:-70px;
}
div.tocStatic h1:first-child {
    background-color:#660000;
    color:#ffffff;
    padding:3px;
    margin-bottom:10px;
}

div#sideTOCwrapper {
    position:absolute;
    top:-66px;
    left:60%;
    width:55%;
    min-width:210px;
    z-index:9999;
}
div#sideTOCwrapper:hover div.toc {
    height:auto;
    overflow-y:auto;
    opacity:1;
    box-shadow: -3px 3px 4px #aaaaaa;
}
div#sideTOCwrapper p {
    line-height:22px;
    z-index:999999;
}
a#tocBait {
    padding:3px 10px;
    background-color:#ffffff;
	background-image:url('../images/global/BG-navBanner.png');
	background-position:0px bottom;
    -moz-border-radius:10px;
    border-radius:10px;
    border:none;
    font-size:1.1em;
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    cursor:pointer;
}
div.toc {
    position:relative;
    left:10px;
    top:0px;
    margin:0px;
    padding:0px;
    height:18px;
    background-color:#eeefdf;
    width:inherit;
    opacity:.1;
    overflow:hidden;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: height;
    -webkit-transition-timing-function: none;
    -moz-transition-duration: 400ms;
	-moz-transition-property: height;
    -moz-transition-timing-function: linear;
    -o-transition-duration: 400ms;
	-o-transition-property: height;
    -o-transition-timing-function: linear;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: opacity;
    -webkit-transition-timing-function: none;
    -moz-transition-duration: 400ms;
	-moz-transition-property: opacity;
    -moz-transition-timing-function: linear;
    -o-transition-duration: 400ms;
	-o-transition-property: opacity;
    -o-transition-timing-function: linear;
}
div.toc p {
    padding:0px 10px;
    margin:4px 0px;
}
/*
div.toc:hover {
    height:540px;
    overflow-y:auto;
    opacity:1;
    box-shadow: -3px 3px 4px #aaaaaa;
}
*/
div.toc h1 {
    background-color:#660000;
    color:#ffffff;
    font-size:18px;
    padding:0px;
    margin:0px;
    margin-bottom:10px;
}

div#sidebar {
  width:200px;
  padding:6px;
  padding-top:29px;
  z-index:350;
  /* border-right:solid 1px #eeefdf; */
}
div#sidebarBannerImage {
  position:relative;
  left:-6px;
  z-index:351;
}
div#sidebar h1 span {
    filter:alpha(opacity=60);
    -moz-opacity:.60;
    opacity:.60;
    font-size:.9em;
}
div#sidebar h1 span:hover {
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
    font-size:.9em;
}
div#sidebar h1, div#sidebar h2 {
  margin-top:11px;
  margin-bottom:4px;
  border-top:dotted 1px #777777;
  font-size:1em;
}
div#sidebar h2 {
  border-top:none;
}
div#sidebar h2 + h2, div#sidebar h1 + p {
  margin-top:0px;
}
div#sidebar p, div#sidebar li {
  font-size:.8em;
}
div#sidebar p {
  margin-top:0px;
  margin-bottom:2px;
  font-size:9px;
  line-height:1.6em;
}
div#sidebar h1 + p, div#sidebar h2 + p {
  margin-top:0px;
}

div.priorityAnnouncement {
  width:40%;
  border:solid 2px #000000;
  padding:0px 10px 5px 10px;
  margin-bottom:10px;
  float:right;
}
div.storeLink {
  margin:0 auto;
  margin-top:10px;
  margin-bottom:10px;
  padding:3px;
  padding-bottom:6px;
  background-color:#ffffff;
  border:solid 1px #444444;
  border-bottom:solid 1px #999999;
  border-right:solid 1px #999999;
  width:180px;
  text-align:center;
}
div#sideTOCwrapper div.toc div.storeLink p {
  line-height:1.2em;
}
div.storeLink p.footnote, div.storeLink h2 {
    width:180px;
}

div.detailInset {
  border:solid 1px #cccccc;
  float:right;
  margin-top:10px;
  margin-left:20px;
  margin-right:40px;
  padding:6px;
  background-color:#eeefdf;
  width:35%;
  min-width:210px;
}
div.detailInset h1, div.detailInset h2 {
  margin-top:11px;
  margin-bottom:0px;
  font-size:11px;
  white-space:inherit;
  width:auto;
}

div#webring {
    text-align:center;
    margin-top:60px;
    min-width:55%;
    filter:alpha(opacity=60);
    -moz-opacity:.60;
    opacity:.60;
    border:solid 1px #000000;
    padding:4px;
    font-size:.8em;
}
div#webring:hover {
    filter:alpha(opacity=50);
    -moz-opacity:1.0;
    opacity:1.0;
}
div#webring p {
    margin:0px;
}
div#webring a {
    border:none;
}

.nowrap {
  white-space:nowrap;
}
.printonly {
    display:none;
}
.nb {
    white-space:nowrap;
}

/* Below applies to Google custom site search */
div#cse {
    position:relative;
    left:-12px;
    padding:10px;
}
div#cse * {
    background-color:#efefef !important;
}
div#cse-search-form * { /* This DIV is just the part that contains the sidebar/menubar search form, not the results. */
    font-size:0px; /* This size is to help obscure the "x" Google places via Javascript, as a user control to clear the input text field. */
    color:#660000;
    border-color:#999999;
}
div#sidebar {
    overflow:hidden; /* This also helps to hide the "x" Google inserts as a link, see above. */
}

div#cse-search-form input { /* The narrower controls we place in the sidebar. */
    font-size:11px;
    font-family:Verdana,Arial,sans-serif
}
input.gsc-search-button,
div.bodyCol div#cse input.gsc-search-button { /* The clickable button above the search results. */
    background-color:#eeeeee !important;
    color:#660000 !important;
    border:solid 1px #777777;
}
input.gsc-search-button:hover,
div.bodyCol div#cse input.gsc-search-button:hover {
    background-color:#eeeeff  !important;
    color:#000000 !important;
}
input.gsc-search-button:active,
div.bodyCol div#cse input.gsc-search-button:active {
    background-color:#ffffff  !important;
    color:#aa0000 !important;
}
div.bodyCol div#cse input.gsc-input { /* The wider search-text field that's above the results list. */
    font-size:14px;
    border-color:#999999;
    background-color:#ffffff !important;
}
div#cse-search-form input {
}
div.bodyCol .gsc-control-cse {
    font-family: Verdana, sans-serif;
}
/*
div.bodyCol * { Was used only to eliminate the ghostly grey rule Google uses below its paid listings.
  border:none;
}
 */
div.bodyCol .cse .gsc-resultsHeader,
div.bodyCol .gsc-resultsHeader {
  border-top:solid 2px #000000;
  padding-top:20px;
}
/* Selector for entire element. */
div.bodyCol div#cse .cse *,
div.bodyCol div#cse .gsc-control-cse * {
  background-color:#eeefdf !important;
}
div.bodyCol .cse .gsc-branding,
div.bodyCol .gsc-branding {
  display:none;
}
/* Inner wrapper for each result in the list of search results */
div.bodyCol div#cse .gsc-webResult.gsc-result {
  padding: .25em;
  border:none;
  border-bottom:dotted 2px #cccccc;
  margin-bottom: 1em;
}
div.bodyCol div#cse a * {
    color:#660000;
}